body{
    overflow-x: hidden;
    margin: 0;  padding: 0; border: 0;
    font-size: 13px;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    background-color: rgba(255, 255, 255, 1);
}
.wrap{
    width: 100%;   height: 100vh;
    display:flex;
    flex-direction:column;
}
header{
    width: 100vw;   min-height: 60px;
    display: flex;
    align-items: center; justify-content:flex-end;
}
nav{
    width: 300px;    height: 80%;
    display: flex;
    align-items: center; justify-content: space-around;
    margin-right: 10px;
}
nav>.nav_btn{
    color: black;
    text-decoration: none;
    transition: 0.25s;
}
nav>.nav_btn:hover{
    text-decoration: underline;
}
nav>.detail_btn{
    width: 39px;   height: 39px;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 100%;
    background-color: transparent;
    transition: 0.25s;
}
nav>.detail_btn:hover{
    background-color: rgba(240 ,240,240,1);
}
nav>.contact_btn{
    width: 95px;    height: 80%;
    min-height: 38px;
    display: flex;
    align-items: center; justify-content: center;
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
    border-radius: 4px; border-width: 0;
    background-color: rgba(26, 115, 232, 1);
    transition: 0.25s;
}
nav>.contact_btn:hover{
    background-color: rgba(43, 125, 233, 1);
    box-shadow: 0 1px 3px rgb(175, 175, 175);
}
.menu{
    position: fixed;
    right:20px;
    width: 325px;   height: 450px;
    display: none;
    border-radius: 10px;
    border:solid 1px rgb(200, 200, 200);
    background-color: white;
    box-shadow: 0 1px 4px rgb(175, 175, 175);
    overflow-y: auto;
}
.sort{
    width: 100%;    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;    justify-content: center;
    margin-top: 1em;
}
.sort>.title{
    width: 100%;    height: 2em;
    margin-bottom:0.5em;
    display: flex;  justify-content: center;
}
.sort>.title p{
    width: 75px;    height: 2em;
    font-size: 1.15em;
    line-height: 2em;
    text-align: center;
    margin: 0;
    background-color: white;
}
.sort>.title div{
    position: absolute;
    z-index: -1;
    width: 95%;    height: 0px;
    align-self: center;
    border-top: solid 1px #ccc;
}
.box{
    width: 90%; height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.box>.item{
    width: 33%; height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0 0 0.5em 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    transition: 0.15s;
}
.box>.item:hover{
    background-color: rgb(232,240,254);
}
.box>.item img{
    width: 60px;    height: 60px;
    margin-top: 10px;
}
.box>.item p{
    width: 60px;    height: 2em;
    color: black;
    text-align: center;
    line-height: 2em;
    margin:0;
}
.more{
    width: 50%; height: 2.4em;
    margin: 5px 0 20px 0;
    color: rgba(26, 115, 232, 1);
    font-size: 1.1em;
    line-height: 2.4em;   text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border:solid 1px rgb(220, 220, 220);
    background-color: transparent;
    transition: 0.25s;
}
.more:hover{
    border:solid 1px rgb(164, 204, 253);
    background-color:rgb(233, 243, 255);
}
.content{
    width: 100vw;   min-height: 650px;
    flex-grow: 1;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}
.content>.logo_img{
    width: auto;   height:125px;
    overflow:hidden;
}
.content>.logo_img img{
    width: auto;   max-height: 115px;
}
.searchbar{
    width: 570px;    height: 45px;
    max-width: 90vw;
    display: flex;
    align-items: center; justify-content: center;
    border-radius: 50px;
    border: solid 1px rgb(200, 200, 200);
    transition: 0.25s;
}
.searchbar:hover{
    box-shadow: 0 1.5px 5px  rgb(175, 175, 175);
}
.searchbar .bar{
    width: 90%;    height:90%;
    display: flex;
    flex-direction: row;
    align-items: center; justify-content: left;
    overflow:hidden;
}
.searchbar .bar .typing{
    max-width: 90%;
    padding-left: 10px;
    font-size: 1.2em;
    white-space:nowrap;
}
.searchbar .bar .flashing{
    padding-left: 2.5px;
    font-size: 1.2em;
}
.searchbtns{
    width: 100%;    height: 55px;
    display: flex;
    align-items: center; justify-content: center;
    margin-top: 25px;
    margin-bottom: 150px;
}
.searchbtns .search_btn{
    margin :0 15px;
    width: 125px;    height: 36px;
    display: flex;
    align-items: center; justify-content: center;
    color: black;    text-decoration: none;
    border-radius: 5px;
    border: solid 1px transparent;
    background-color: rgba(250 ,250,250,1);
    transition: 0.25s;
}
.content>.searchbtns .search_btn:hover{
    border: solid 1px rgb(200, 200, 200);
    box-shadow: 0 1.5px 3px  rgb(220, 220, 220);
}
footer{
    z-index: 99999999999999999999999;
    width: 100%;   height: 95px;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    color: #888;
    background-color: #f2f2f2;
}
footer>.from{
    width: auto;   height: 50%;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.line{
    width:100%;   height: 0;
    border-top: solid 1px #ccc;
}
footer>.region{
    width: 100%;   height: 50%;
    display: flex;
    align-items: center; justify-content: space-between;
}
footer>.region .links{
    width: auto;   height: 100%;
    padding-left: 50px;
    display: flex;
    align-items: center;
}
footer>.region .links a{
    width:auto;   height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: #888;
    text-decoration: none;
    transition: 0.25;
}
footer>.region .links a:hover{
   text-decoration: underline;
}
footer>.region .copyright{
    width:auto;   height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){
    footer>.region .links{padding-left: 20px;}
    footer>.region .copyright{padding-right: 20px;}
}
@media screen and (max-width:576px){
    body{font-size: 12px;}
    footer{min-height: 140px;}
    footer>.from{height: 35%;}
    footer>.region{height: 61%;flex-direction: column; padding: 2% 0;}
    footer>.region .links,footer>.region .copyright{width: 100%;    height: 49%;    justify-content: center;padding: 0;}
    footer>.region .links a{width: 80px;   padding: 0 10px; justify-content: center;}
}
@media screen and (max-width:414px){}